{% extends 'base.html' %}

{% block title %}MeetAlly - Meetings made easy!{% endblock %}

{% block content %}
    <h1>Welcome to MeetAlly!</h1>
    <p>Schedule meetings with your colleagues <strong>Anytime, Anywhere</strong></p>
    {% if user.is_authenticated %}
        <h2>Meetings</h2>
        <a href="{% url 'new' %}">Create New Meeting</a>
        <ul>
            {% for meeting in meetings %}
            <li><a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'rooms' %}">Room List</a>
    {% endif %}
{% endblock %}