{% extends 'base.html' %}

{% block title %}MeetAlly - Meetings made easy!{% endblock %}

{% block content %}
    <h1>Welcome to MeetAlly!</h1>
    <p><strong>MeetAlly</strong> is a web application that helps you schedule meetings with your colleagues smoothly.</p>
    {% if user.is_authenticated %}
        <h2>Meetings</h2>
        <ul>
            {% for meeting in meetings %}
            <li><a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'rooms' %}">Room List</a>
    {% endif %}
{% endblock %}